@page "/newsletter/confirmation/{id}"

<PageTitle>Newsletter Confirmation</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10 mb-10">
    <MudPaper Elevation="3" Class="pa-8" Style="background-color: #f9f5f0;">
        <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-4">Newsletter Subscription Confirmed</MudText>

        @if (isProcessing)
        {
            <div class="d-flex justify-center ma-4">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
            <MudText Typo="Typo.body1" Align="Align.Center">Processing your confirmation...</MudText>
        }
        @if (isSuccess)
        {
            <MudIcon Icon="@Icons.Material.Filled.MarkEmailRead" Color="Color.Primary" Size="Size.Large" Class="d-flex justify-center mb-4 mx-auto" />

            <MudText Typo="Typo.body1" Align="Align.Center" Class="mb-6">
                Thank you for confirming your subscription to our newsletter! You're now officially part of our coffee community.
            </MudText>

            <MudText Typo="Typo.body1" Align="Align.Center" Class="mb-6">
                Get ready to receive our carefully curated content, brewing tips, and exclusive offers straight to your inbox.
                We're excited to share our passion for coffee with you!
            </MudText>

            <MudText Typo="Typo.body1" Align="Align.Center" Class="mb-6">
                Your first newsletter will arrive soon. In the meantime, explore our blog for more coffee inspiration.
            </MudText>

            <div class="d-flex justify-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Href="/" StartIcon="@Icons.Material.Filled.Coffee">
                    Explore Coffee Blog
                </MudButton>
            </div>

            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-4">
                If you change your mind, you can unsubscribe at any time using the link provided in our emails.
            </MudText>
        }
    </MudPaper>
</MudContainer>